<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>

  <!--SQL Server 数据库配置信息-->
  <connectionStrings>
    <add name="DreamwarConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Dreamwar.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  
  <system.web>

  
    
 
   
    
    <!-- Session 配置-->
    <sessionState mode="InProc" cookieless="false" timeout="90">
      
    </sessionState>
    
     
    <!--设置404页面配置信息-->
    <customErrors mode="On" defaultRedirect="404.aspx">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
    

    
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
 

</configuration>